#produtos{
    max-width: 900px;
    margin: 0 30px;
    padding: 0 2%;
    display: flex;
}
#carrinho{
    max-width: 900px;
    margin: 0 30px;
    padding: 0 2%;
    display: block;
}
.produto-single{
    width: 33.3%;
    padding: 0 20px;
}
.img{
    max-width: 200px;
    margin: 20px;
    padding-top: 50px;
    padding: 10px;
    padding-bottom: 50px;
}